footer{
    background-color: $amarillo;
    
    ul li a{
        font-family: $texto;
    }
    ul li a:hover {
        font-weight: bold !important; 
    }
    h5{
    font-family: $titulo;
    }
    p{
        font-family: $texto;
    }
    input{
        font-family: $texto;
    }
    .btn{
        background-color: $lila;
        color: $amarillo;
        font-weight: bold;
        font-family: $texto;
    }
    img{
        width:100px;
    }
    svg{
        color: black;
    }
    .bi-instagram{
        @include iconosRedes($turquesa);
    }
    .bi-tiktok{
        @include iconosRedes($verde);
    }
    .bi-facebook{
        @include iconosRedes($naranja);
    }
    .bi-twitter{
        @include iconosRedes($rojo);
    }
    .bi-pinterest{
        @include iconosRedes($rosa);
        }
}