.footer{
    background-color: $amarillo;
    button{
        background-color: $lila;
        color: $amarillo;
        font-weight: bold;
        font-family: $texto;
    }
}

footer{
    h5{
        font-family: $titulo;
    }
    ul li{
        font-family:$texto;
        }
    img{
        width:100px;
    }
    svg{
        color: black;
    }
    .bi-instagram{
        @include iconosRedes($turquesa);
    }
    .bi-tiktok{
        @include iconosRedes($verde);
    }
    .bi-facebook{
        @include iconosRedes($naranja);
    }
    .bi-twitter{
        @include iconosRedes($rojo);
    }
    .bi-pinterest{
        @include iconosRedes($rosa);
        }   
}