// VARIABLES
$turquesa: #1291d5;
$verde: #00cc66;
$amarillo: #ffcc00;
$naranja: #f75c03;
$rojo: #fc3d20;
$rosa: #ff6691;
$lila: #a555b5;

$titulo: 'Lexend Deca', sans-serif;
$texto: 'Montserrat', sans-serif;
